---

---

<table class="w-[600px] justify-center mx-auto text-center">
  <thead class="bg-white text-sm">
    <tr>
      <th class="py-3 rounded-tl-xl">Nombres</th>
      <th>Apellidos</th>
      <th>Identificadores (ID)</th>
      <th>Curso</th>
      <th>Nota</th>
      <th class="py-3 rounded-tr-xl">Acciones</th>
    </tr>

    <tbody id="table-body"> </tbody>
  </thead>
</table>
